body {
    margin: 0;
    width: 100vw;
}

a {
    text-decoration: none;
    color: unset;
}

p {
    margin: 0;
}

#nav-header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #7f7f7f;
}

#home {
    width: 100%;
    height: 100vh;
    background: center / cover url('./assets/images/cover-photo.jpeg');
    overflow: hidden;
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.5s;
}

#home.hide {
    opacity: 0;
}

#biography {
    width: 100%;
    height: 100vh;
    background-color: #f4f5f6;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

#biography.active {
    opacity: 1;
    pointer-events: all;
}

#profile {
    width: 100%;
    height: 100vh;
}

#title {
    color: black;
}

#biography>div {
    width: 40%;
    margin: auto 0;
}

#biography>div:last-of-type {
    margin-left: 2rem;
}

#biography div.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#biography .quote-wrapper {
    font-size: 2.5rem;
    color: #f11650;
    width: 5rem;
    height: 5rem;
    margin: 1rem auto 0;
    position: relative;
    transition: width 1.5s;
}

#biography .quote-wrapper.expand {
    width: 100%;
    height: 135px;
}

#biography .quote-wrapper i {
    position: absolute;
}

i.fa-quote-left {
    top: 0;
    left: 0;
}

i.fa-quote-right {
    bottom: 0;
    right: 0;
}

#biography h1,
#biography h3 {
    margin: 0;
    line-height: 1;
    font-family: 'Bambino';
    color: #f11650;
}

#biography h1 {
    font-size: 4rem;
}

#biography .heading>h1 {
    font-size: 7.5rem;
}

#biography h3 {
    font-size: 2.4rem;
    margin-top: 2rem;
    line-height: 1.2;
}

#biography .heading {
    padding: 1rem 1.5rem 0;
    margin-bottom: 1.5rem;
}

#biography .heading>div {
    padding-left: 2rem;
    text-align: center;
}

#biography p {
    font-family: Montserrat;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
}

blockquote {
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 2.5rem 2.5rem;
    color: black;
}

#biography>div:first-child>img {
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 1rem;
}

.brand-name>p {
    width: 3rem;
    height: 100vh;
    padding: 0 0.5rem;
    font-size: 3rem;
    font-family: "Bambino";
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: black;
    background-color: #f4f5f6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 1s;
}

.brand-name>p.enter {
    transform: translateX(0);
}

#home .social-icons {
    /* position: absolute;
    right: -4rem;
    top: calc(50vh - calc(100vh/6)); */
    padding: 0.5rem 0.5rem;
    width: 3rem;
    height: calc(100vh/2);
    background-color: #f4f5f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateX(100%);
    transition: transform 1s;
}

#home .social-icons>a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 3rem;
}

#home .social-icons>a:hover {
    color: black;
}

#home .social-icons.enter {
    /* right: 0; */
    transform: translateX(0);
}

#show-bio {
    position: absolute;
    font-size: 4rem;
    bottom: 3rem;
    right: 6rem;
    padding: 0.5rem;
    color: black;
    background-color: #f4f5f6;
    border-radius: 50%;
}


#show-home {
    position: absolute;
    font-size: 4rem;
    bottom: 3rem;
    left: 3.5rem;
    padding: 0.5rem;
    color: #f4f5f6;
    background-color: black;
    border-radius: 50%;
}

#show-bio:hover {
    color: #f4f5f6;
    background-color: unset;
    cursor: pointer;
}

#show-home:hover {
    color: black;
    background-color: unset;
    cursor: pointer;
}

@media (max-width: 576px) {
    #home {
        height: 50vh;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #home {
        height: 60vh;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    #home {
        height: 80vh;
    }
}

@font-face {
    font-family: 'Bambino';
    src: url('./assets/fonts/Bambino.otf');
}
